body {
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6ECBF2;
    
}

header {
    text-align: center;
    background-color: #6ECBF2;
    color: white;
    padding: 20px ;
}

h1 {
    font-family: "Fredoka", sans-serif;
    color: #E53170;
    font-size: 25px;
}


.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.team-card {
    background-color: #ffffff;
    border: 1px ;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 20px;
    
}


.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 15px;
  
}

.team-card h3 {
    margin: 10px 0 5px;
    font-size: 15px;
}

.team-card p {
    margin: 5px 0;
    font-size: 15px;
    color: black;
}

.team-card a {
    color: blue;
    text-decoration:underline;
    font-size: 15px;
    cursor: pointer;
}

